* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-one: #024059;
  --color-tow: #026873;
  --color-tree: #04bf8a;
  --color-four: #025940;
  --color-five: #03a64a;
  --color-grey: #e6e6e6;
  --color-black: #000000;
  --box-shadow-1: 0 3px 10px rgba(0,0,0,.4)
;
}

body {
  background-color: var(--color-one);
  font-family: "Barlow Condensed", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-grey);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-color: var(--color-one);
}

.sec1 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: black;
}

.sec3 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: yellow;
}

.sec4 {
  display: none;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  background-color: red;
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scale(0);
            transform: translateY(-100%) scale(0);
  }
  100% {
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controlls .active-btn {
  background-color: var(--color-five) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.controlls .active-btn i {
  color: var(--color-one) !important;
}

.controlls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-tow);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.6rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controlls .control i {
  font-size: 1.3rem;
  color: var(--color-grey);
  pointer-events: none;
}
/*# sourceMappingURL=styles.css.map */