* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-one: #024059;
  --color-tow: #026873;
  --color-tree: #04bf8a;
  --color-four: #025940;
  --color-five: #03a64a;
  --color-grey: #e6e6e6;
  --color-black: #000000;
  --box-shadow-1: 0 3px 10px rgba(0,0,0,.4)
}

body {
  background-color: var(--color-one);
  font-family: "Barlow Condensed", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header{
  height: 100vh;
  color: var(--color-grey);
  overflow: hidden;
   
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section{
  transform: translateY(-100%) scale(0);
  transition: all .4s ease-in-out;
  background-color: var(--color-one);
  
}

.sec1{
  display: none;
  transform: translateY(0) scale(1);
  
}
.sec2{
  display: none;
  transform: translateY(0) scale(1);
  background-color: var(--color-tow)
  
}
.sec3{
  display: none;
  transform: translateY(0) scale(1);
  background-color: yellow;
}
.sec4{
  display: none;
  transform: translateY(0) scale(1);
  background-color: red;
}

.active{
  display: block;
  animation: scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0%{
      transform: translateY(-100%) scale(0);
    }
    100%{
      transform: translateY(0) scale(0);
    }
    
  }
}

//Controles iconos

.controlls{
 position: fixed;
 z-index: 10;
 top: 50%;
 right: 3%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 transform: translateY(-50%);
  .active-btn{
    background-color: var(--color-five) !important;
    transition: all.4s ease-in-out;
    i{
      color: var(--color-one) !important;
    }
  }
  .control{
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-tow);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
    box-shadow: var(--box-shadow-1);
      i{
        font-size: 1.3rem;
        color: var(--color-grey) ;
        pointer-events: none;
      }
  }
 
}

/*Header - Encabezado*/
.header-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .left-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .h-shape{
      transition: all .4s ease-in-out;
      width: 100%;
      height: 100%;
      background-color: var(--color-tow);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 42% 0, 81% 100%, 0% 100%);
    }
    .image{
      width: 65%;
      transition: all .4s ease-in-out;
      img{
        width: 100%;      
        object-fit: cover;
        transition: all .4s ease-in-out;
        filter: grayscale(100%);
        &:hover{
          filter: grayscale(0%)
        }
      };
    }
  }
  .right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10rem;
   
    .name{
      font-size: 3rem;
      font-weight: 400;
      .full{
        color: var(--color-five);
        font-size: 2rem;
        font-weight: 100;        
      }
      p{
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 100;
      }
    }
  }
}

/*Boton CV*/
.btn-con{
  display: flex;
  align-self: flex-start;
}
.main-btn{
  border-radius: 50px;
  color: inherit;
  font-weight: 200;
  position: relative; 
  border: 2px solid var(--color-five);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  .btn-txt{
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  .btn-icon{
    background-color: var(--color-five);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.2rem;
  }
  i{
    color: var(--color-grey);
  }
  &::before{
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    transition: all .4s ease-in-out;
    z-index: -1;
  }
  &:hover{
    &::before{
      width: 100%;
      height: 100%;
      background-color: var(--color-five);
      transform: translateX(0);
    }
  }
}

.main-title{
  text-align: center;
  h2{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    span{
      color: var(--color-tree)
    }
    .bg-text{
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey);
      transition: all .4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}


